name: Build wheels

on:
  workflow_dispatch

jobs:
  buildwheels:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: install cibuildwheel
      run: python -m pip install cibuildwheel==2.12.3
    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_BUILD_VERBOSITY: 1
        CIBW_ARCHS_MACOS: "x86_64 arm64"
        CIBW_SKIP: "pp3*"
    - uses: actions/upload-artifact@v2
      with:
        path: ./wheelhouse/*.whl
