name: Build wheels

on:
  workflow_dispatch

jobs:
  buildwheels:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
    - name: install cibuildwheel
      run: python -m pip install cibuildwheel==2.12.3
    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_BUILD_VERBOSITY: 1
        CIBW_ARCHS_MACOS: "x86_64 arm64"
        CIBW_SKIP: "pp3*"
        CIBW_BUILD: "cp37-manylinux_x86_64"
    - uses: actions/upload-artifact@v2
      with:
        path: ./wheelhouse/*.whl
    
  upload_pypi:
    needs: [buildwheels]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/tmtools 
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: wheelhouse/
      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
          repository_url: https://test.pypi.org/legacy/
          packages_dir: wheelhouse/
